// === VARIABLES === //

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* FONT-COLOR */
$dark-body-color: #f0e2fd;
$dark-link-color: rgb(255,88,249);
$dark-link-bg: rgba(129,72,178, 0.7);
$dark-link-hover: #f0e2fd;

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;
$overlay-bgcolor: rgba(92,51,128, 0.9);

/* BOX-SHADOW */
$box-shadow: 5px 7px $dark-link-bg;
$header-shadow: 3px 3px $dark-body-color;

/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(185,103,255, 0.5);
$button-bgcolor-hover:  rgba(185,103,255, 0.9);

/* TRANSFORMS/TRANSITIONS */
$transition:  ease-in-out 0.3s;

/* ================================================= */

// === MIXINS === //

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}

/* ================================================= */

.Project {
    cursor: ns-resize;
    img {
        border-radius: 2rem;
        width: 90%;
        margin: 20px auto;
    }

    .wireframe {
        border-radius: 2rem;
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-self:center;
    }
    ul {
        margin-top: 2rem;
        li {
            transition: $transition;
        }
        li:hover {
            transition: $transition;
            display: inline-block;
            transform: scale(1.3);
            background: $button-bgcolor;
            color: $dark-body-color;
            cursor: crosshair;
            padding: 5px 10px;
        }
    }
    .icon {
        margin-right: 10px;
    }
    .Project-header{
        @include flex-center();
        cursor: s-resize;
        margin-top: 3rem;
        h1 {
            box-shadow: none;
        }

        h3 {
            font-family: $bfont;
            font-weight: $regular;
            width: 50%;
            text-transform: none;
            text-align: center;
            background: none;
        }


    }
    .Project-requirements{
        margin-left: 4em;
    }

    .Project-design{
        margin-top: 5rem;
        img {
            width: 60%;
        }
    }
    .Project-solution{
        cursor: n-resize;
    }

}
