// === LANDING === //

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* FONT-COLOR */
$dark-body-color: rgba(240,226,253,1);
$dark-link-color: rgba(255,88,249,1);

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: rgba(185,103,255, 0.5);

/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(185,103,255, 0.5);
$button-bgcolor-hover:  rgba(185,103,255, 0.7);

// === ATTRIBUTE STYLES === //
.profile-img-container {
    // border: 1px solid sandybrown;
    width: 30%;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-img {
        border-radius: 200px;
        width: 90%;
        box-shadow: 5px 3px 9px rgba(0,0,0,0.5);
        margin: 0 auto;
        opacity: 0.8;
    }
}

.landing-header {
    display: flex;
    justify-content: flex-start;
    a{
        margin: 0 10px 0 5px;
    }
    h1 {
        font-size: $base-font * 2.7;
        font-family: $hfont;
        font-weight: $bold;
        line-height: $base-font * 2 ;
    }
    h2 {
        font-size: $base-font * 2;
        font-family: $hfont;
        font-weight: $regular;
    }
    .subtitle {
        font-size: $base-font * 1.1;
        font-family: $bfont;
        font-weight: $regular;
        a{
            font-weight: $bold;        
        }
    }
    .landing-description{
        margin: 2.3rem auto 1.5rem 1.2rem;
    }
}

.landing-menu{
    // border: 1px solid yellow;
    button {
        font-size: $base-font;
        font-family: $bfont;
        font-weight: $bold;
        padding: 10px;
        margin: 10px 15px 10px 0;
        border-radius: $button-radius;
        color: $dark-body-color;
        background-color: $button-bgcolor;
        border: 3px solid $button-bgcolor;
        box-shadow: 3px 3px $button-bgcolor-hover;
        transition: ease-in-out 0.3s;
        text-transform: uppercase;
        &:hover {
            background-color: $button-bgcolor-hover;
            border: 3px solid $dark-link-color;
            box-shadow: none;
            transition: ease-in-out 0.3s;
            transform: scale(1.2);
            cursor: pointer;
        }
        a:link, a:visited {
            color: $dark-body-color;
            background: transparent;
        }
        a:hover {
            color: $dark-link-color;
            box-shadow: none;
        }
    }
}

@media only screen and ( max-width: 1200px) {

    .landing-header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        h1 {
            font-size: $base-font * 2.5;
        }
        .subtitle {
            font-size: $base-font * 1.3;
        }
        .center-content {
            width: 65%;
            margin: 0;
        }
        .profile-img-container {
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 60%;
        }
        .profile-img {
            width: 25%;
        }
        .landing-description {
            margin: 0;
            padding: 0;
            a {
                margin: 0;
                padding: 1px 5px;
            }
        }
    }
    .landing-menu {
        margin: 20px auto 0 auto;
        button {
            padding: 10px 15px;
            width: 25%;
        }
    }
   }

   @media only screen and (max-width: 600px) {
    .center-content {
        width: 75vw;
    }
    .landing-header{
        h1 {
            font-size: $base-font * 2;
            font-family: $hfont;
            font-weight: $bold;
        }
        .subtitle {
            font-size: $base-font * 0.9;
        }
        .profile-img {
            width: 75%;
            margin: 0;
        }
    }
  
    .landing-menu {
        margin-top: 40px;
        button {
            display: block;
            margin: 10px auto;
            width: 80%;
        }
    }
   }