// === DARK MODE ===  //

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* FONT-COLOR */
$dark-body-color: #f0e2fd;
$dark-link-color: #d3e7f6;
$dark-link-hover: #fdc887;

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;

/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(74,66,109, 0.7);
$button-bgcolor-hover:  rgba(74,66,109, 1);
