// ================= //
// === DARK MODE === //
// ================= //

// === VARIABLES === //

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* FONT-COLOR */
$dark-body-color: #f0e2fd;
$dark-link-color: #ff80ed;
$dark-link-hover: #f0e2fd;

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;

/* BOX-SHADOW */
$box-shadow: 5px 7px 5px $dark-shadow;
$header-shadow: 3px 3px $dark-body-color;

/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(74,66,109, 0.8);
$button-bgcolor-hover:  rgba(74,66,109, 1);

/* TRANSFORMS/TRANSITIONS */
$transition:  ease-in-out 0.3s;

/* ================================================= */

// === MIXINS === //

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}

/* ================================================= */



// === SELECTORS === //

// FONTS //
body {
    background: $dark-bgcolor;
    font-family: $bfont;
    color: $dark-body-color;
    background-size: cover;
    height: 95vh;
}

a:link, a:visited {
    font-family: $hfont;
    padding: 5px;
    margin: 2px;
    background-color: $button-bgcolor;
    color: $dark-link-color;
    text-decoration: none;
    &:hover {
        color: $dark-link-hover;
    }
}

// HIGHLIGHT TEXT
::selection {
    color: #fff;
    background: $dark-link-color;
   &::-moz-selection { /* Code for Firefox */
        color: #fff;
        background: $dark-link-color;
    }
}

/* ===  CONTAINERS ===  */

/* ABSOLUTE CENTER */
@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    // border: 1px solid rebeccapurple;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .center-container {
    // border: 1px solid chartreuse;
    position: relative;
    width: 95%;
    height: 95vh;
    margin: 20px auto;
  }
  
  .center-content {
    // border: 1px solid fuchsia;
    height: auto;
    width: 65%;
    padding: 20px;

    &.both {
      @include center;
    }
  
    &.horizontal {
      @include center(true, false);
    }
  
    &.vertical {
      @include center(false, true);
    }
  }

  @media only screen and (max-width: 600px) {
   .center-container{
        width:  100%;
   }
   .center-content {
    width: 90vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
  }
