// ================= //
// === DARK MODE === //
// ================= //

/* FONT-COLOR */
$dark-body-color: #f0e2fd;
$dark-link-color: #ff80ed;
$dark-link-hover: #f0e2fd;

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;

/* BOX-SHADOW */
$box-shadow: 5px 7px 5px $dark-shadow;
$header-shadow: 3px 3px $dark-body-color;

/* BUTTON STYLES */
$button-bgcolor: rgba(74,66,109, 0.8);
$button-bgcolor-hover:  rgba(74,66,109, 1);


