// === SUBPAGES STYLE === //

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* FONT-COLOR */
$dark-body-color: #f0e2fd;
$dark-link-color: #d3e7f6;
$dark-link-hover: #ff80ed;

/* BACKGROUND-COLOR */
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;
/* BOX-SHADOW */
$box-shadow: 5px 7px 5px $dark-shadow;
$header-shadow: 3px 3px $dark-body-color;
/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(74,66,109, 0.7);
$button-bgcolor-hover:  rgba(74,66,109, 1);

.subpage-container {
    overflow-y: hidden;
    div {
        margin: 0 auto;
    }
    section {
    z-index: -1;
    width: 50%;
    margin: 10% auto;
    }
    article {
        margin-left: 3em;
        margin-top: 1.5em;
    }
    h1 {
        display: inline-block;
        background-color: $dark-shadow;
        font-family: $hfont;
        font-size: $base-font * 2;
        font-weight: $regular;
        letter-spacing: $base-font;
        padding: 5px 10px;
        box-shadow: $header-shadow;
        text-transform: uppercase;
        margin-bottom: 5%;
    }
    h2 {
        display: inline-block;
        background-color: $dark-shadow;
        font-family: $hfont;
        font-size: $base-font * 1.5;
        font-weight: $regular;
        letter-spacing: $base-font;
        padding: 5px 10px;
        box-shadow: $header-shadow;
        text-transform: uppercase;
    }
    h3{
        display: inline-block;
        background-color: $dark-shadow;
        font-family: $hfont;
        font-size: $base-font * 1.1;
        font-weight: $bold;
        padding: 5px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .cover-img {
        width: 95%;
        border-radius: 20px;
        box-shadow: $box-shadow;
        margin-bottom: 4em;
    }
    .icon {
        margin: 10px;
    }
    .btn {
        button {
            font-size: $base-font;
            font-family: $bfont;
            font-weight: $bold;
            padding: 10px;
            margin: 10px 15px 10px 0;
            border-radius: $button-radius;
            color: $dark-body-color;
            background-color: $button-bgcolor;
            border: 3px solid $button-bgcolor;
            box-shadow: 5px 5px $button-bgcolor-hover;
            transition: ease-in-out 0.3s;
        }
        a:link, a:visited {
            color: $dark-body-color;
            background: transparent;
        }
        a:hover {
            color: $dark-link-hover;
        }
    
        button:hover {
            background-color: $button-bgcolor-hover;
            border: 3px solid $dark-link-hover;
            transition: ease-in-out 0.3s;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 650px) {
    .subpage-container {
        margin-top: 0;
        section {
            width: 95%;
            margin: 3em auto;
        }
        article {
            margin-top: 10px;
            margin-left: 10px;
        }
        h2 {
            margin-top: 10px;  
        }
        h3 {
            margin-top: 10px;
        }
        .cover-img{
            width: 100%;
            margin: 0 auto;
        }
    }
   }