// === DARK MODE ===  //

/* COLORS */
$dark-body-color: #f0e2fd;
$dark-link-color: #d3e7f6;
$dark-link-hover: #ff80ed;
$dark-bgcolor: #635892;
$dark-shadow: #534a7a;

/* FONT-SIZE */
$base-font: 14px;

/* FONT-FAMILY */
$hfont: 'Fira Code', monospace; 
$bfont: 'Poppins', Arial, sans-serif; 

/* FONT-STYLE */
$bold: 700;
$light: 300;
$regular: 400;

/* BUTTON STYLES */
$button-radius: 15px;
$button-bgcolor: rgba(74,66,109, 0.7);
$button-bgcolor-hover:  rgba(74,66,109, 1);

/* PADDING/MARGIN */
$padding: 10px;
$margin-center: 0 auto;

/* BORDER */
$base-border: 3px solid $dark-body-color;
$base-border-dark: 4px solid $dark-shadow;


.confirm-modal {
    line-height: $base-font * 3;
    background: $button-bgcolor;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: $button-radius;
}
.confirm-modal-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: $dark-bgcolor;
    border-radius: $button-radius;
    box-shadow: 5px 7px $button-bgcolor-hover;
    border: $base-border-dark;

    button {
        width: 50%;
        font-size: $base-font;
        font-family: $bfont;
        font-weight: $bold;
        padding: 10px;
        margin: 10px auto;
        border-radius: $button-radius;
        color: $dark-body-color;
        background-color: $button-bgcolor;
        border: 3px solid $button-bgcolor;
        box-shadow: 5px 5px $button-bgcolor-hover;
        transition: ease-in-out 0.3s;

        a:link, a:visited {
            color: $dark-body-color;
            background: transparent;
        }
        a:hover {
            color: $dark-link-hover;
        }
    }
   
    button:hover {
        color: $dark-link-hover;
        background-color: $button-bgcolor-hover;
        border: 3px solid $dark-link-hover;
        transition: ease-in-out 0.3s;
        transform: scale(1.2);
        cursor: pointer;
    }
}

.Contact {
    div{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom: 7px;
    }
    input{
        display: block;
        width: 90%;
        font-family: $bfont;
        font-size: $base-font;
        border: $base-border;
        padding: $padding;
        border-radius: $button-radius;
        background: $dark-shadow;
        color: $dark-body-color;
    }
    input::placeholder{
        color: $dark-body-color;
    }
    textarea::placeholder{
        color: $dark-body-color;
    }
    textarea{
        width: 90%;
        font-family: $bfont;
        font-size: $base-font;
        border-radius: $button-radius;
        padding: $padding;
        border: $base-border;
        background: $dark-shadow;
        color: $dark-body-color;
    }
    button {
        width: 50%;
        font-size: $base-font;
        font-family: $bfont;
        font-weight: $bold;
        padding: 10px;
        margin: 10px auto;
        border-radius: $button-radius;
        color: $dark-body-color;
        background-color: $button-bgcolor;
        border: 3px solid $button-bgcolor;
        box-shadow: 5px 5px $button-bgcolor-hover;
        transition: ease-in-out 0.3s;
    }
    a:link, a:visited {
        color: $dark-body-color;
        background: transparent;
    }
    a:hover {
        color: $dark-link-hover;
    }

    button:hover {
        color: $dark-link-hover;
        background-color: $button-bgcolor-hover;
        border: 3px solid $dark-link-hover;
        transition: ease-in-out 0.3s;
        transform: scale(1.2);
        cursor: pointer;
    }
}

@media only screen and (max-width: 650px) {
    .confirm-modal-content {
        font-size: $base-font * 0.9;
        line-height: $base-font * 2;
        width: 80%;
        padding: 10px;
        margin: 0 auto;
        a {
            padding: 2px;
        }
    }
   }